### Sophronia file splitter

Script that takes `15107_formatted.h5` and all its components, and splits it such that each 'dataframe' contains 150 events, then saves them uniquely.

In [2]:
import numpy as np
import pandas as pd
import h5py
import tables as tb


import tqdm as tqdm

In [3]:
import sys,os,os.path
sys.path.append("/gluster/data/next/software/IC_311024/")
sys.path.append(os.path.expanduser('~/code/eol_hsrl_python'))
#sys.path.append("/home/e78368jw/Documents/NEXT_CODE/next_misc/")
os.environ['ICTDIR']='/gluster/data/next/software/IC_311024/'

from invisible_cities.io.dst_io           import load_dst, load_dsts, df_writer

from invisible_cities.core                import tbl_functions   as tbl

In [ ]:
file_path = 'files/15107_formatted.h5'

# check keys so we know what to read
with h5py.File(file_path, mode = 'r') as store:
    print(store)
    # Iterate through all nodes in the HDF5 file
    for node in store.keys():
        # Read the dataframe from the current node
        df = store[node]
        display(df)
        for key in df.keys():
            # Print the shape of the dataframe
            print(f"Key: {key}, Shape: {df[key].shape}")
        


dst_Events = pd.read_hdf(file_path, key='DST/Events')
RECO_Events = pd.read_hdf(file_path, key='RECO/Events')
Run_events = pd.read_hdf(file_path, key='Run/events')
Run_runInfo = pd.read_hdf(file_path, key='Run/runInfo')

<HDF5 file "15107_formatted.h5" (mode r)>

Key: Events, Shape: (24826,)

Key: Events, Shape: (28931638,)

Key: events, Shape: (24826,)
Key: runInfo, Shape: (24826,)

In [ ]:
display(dst_Events)
display(RECO_Events)
display(Run_events)
display(Run_runInfo)

,event,time,s1_peak,s2_peak,nS1,nS2,S1w,S1h,S1e,S1t,...,Nsipm,DT,Z,Zrms,X,Y,R,Phi,Xrms,Yrms
0,275,1.742935e+09,0,0,1,1,375.0,20.105528,130.680893,1217525.0,...,2539,185.960632,185.960632,18.371055,15.761644,-65.178615,67.057299,-1.333529,190.955556,208.454665
1,590,1.742935e+09,0,0,1,1,400.0,41.841473,240.074432,1139325.0,...,2969,266.157379,266.157379,29.010471,170.053074,19.509000,171.168482,0.114224,217.766683,168.386432
2,597,1.742935e+09,0,0,1,1,650.0,16.592751,97.683167,493475.0,...,2261,919.024780,919.024780,9.251109,75.948209,52.021293,92.056208,0.600559,214.760246,197.605371
3,1556,1.742935e+09,0,0,1,1,350.0,17.792589,102.266724,530275.0,...,2102,877.213196,877.213196,8.832326,110.182593,3.345906,110.233384,0.030358,237.921637,199.830332
4,1794,1.742935e+09,0,0,1,1,275.0,21.349106,106.103920,877900.0,...,2550,531.588501,531.588501,8.046095,108.494903,87.064883,139.109446,0.676251,240.576917,220.669800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24821,658454,1.742944e+09,0,0,1,1,375.0,10.825253,69.822937,1202675.0,...,2851,205.808258,205.808258,9.201199,15.608674,98.721551,99.947863,1.413986,224.630671,251.603989
24822,658699,1.742944e+09,0,0,1,1,575.0,16.538542,87.122505,839450.0,...,2870,567.041748,567.041748,12.670540,40.841408,-8.578211,41.732557,-0.207028,226.215802,217.065314
24823,658923,1.742944e+09,0,0,1,1,625.0,15.709264,91.425804,1274300.0,...,2163,129.195633,129.195633,18.046918,86.402601,-24.296199,89.753634,-0.274119,203.298461,188.980867
24824,1074513,1.742949e+09,0,0,1,1,350.0,19.289764,105.112312,792425.0,...,2470,616.065002,616.065002,13.975123,-3.418172,-1.705237,3.819913,-2.678846,203.424014,201.055704
24825,1074912,1.742949e+09,0,0,1,1,325.0,57.295929,309.272644,371725.0,...,3005,1040.768677,1040.768677,33.414348,-107.260682,-11.486681,107.873990,-3.034908,203.519569,173.929109

,event,time,npeak,Xpeak,Ypeak,nsipm,X,Y,Xrms,Yrms,Z,Q,E,Qc,Ec,track_id,Ep
0,275,1.742935e+09,3,15.761644,-65.178616,1,474.475,-32.475,0.0,0.0,159.434125,5.256973,-2.562765,-1.0,-0.000016,-1,-1.0
1,275,1.742935e+09,3,15.761644,-65.178616,1,-265.925,399.925,0.0,0.0,161.691000,7.539444,-3.154945,-1.0,NaN,-1,-1.0
2,275,1.742935e+09,3,15.761644,-65.178616,1,181.025,414.975,0.0,0.0,161.691000,6.790727,-2.841638,-1.0,-0.000018,-1,-1.0
3,275,1.742935e+09,3,15.761644,-65.178616,1,-281.475,-279.275,0.0,0.0,165.937000,5.034613,17.929243,-1.0,0.000097,-1,-1.0
4,275,1.742935e+09,3,15.761644,-65.178616,1,212.125,-325.425,0.0,0.0,167.834250,5.043945,159.742005,-1.0,0.000833,-1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28931633,1074912,1.742949e+09,0,-107.260682,-11.486680,1,196.575,214.825,0.0,0.0,1144.738500,5.329231,5.760224,-1.0,0.000029,-1,-1.0
28931634,1074912,1.742949e+09,0,-107.260682,-11.486680,1,-389.325,214.325,0.0,0.0,1147.229500,8.552230,-6.227441,-1.0,-0.000040,-1,-1.0
28931635,1074912,1.742949e+09,0,-107.260682,-11.486680,1,-65.775,-356.525,0.0,0.0,1147.229500,6.788672,-4.943279,-1.0,-0.000026,-1,-1.0
28931636,1074912,1.742949e+09,0,-107.260682,-11.486680,1,88.725,492.725,0.0,0.0,1147.229500,6.301342,-4.588421,-1.0,NaN,-1,-1.0
28931637,1074912,1.742949e+09,0,-107.260682,-11.486680,1,243.225,-309.875,0.0,0.0,1147.229500,5.044473,-3.673212,-1.0,-0.000020,-1,-1.0

       evt_number      timestamp
0             275  1742935251202
1             590  1742935255246
2             597  1742935255345
3            1556  1742935267472
4            1794  1742935270569
...           ...            ...
24821      658454  1742943661813
24822      658699  1742943664872
24823      658923  1742943667847
24824     1074513  1742948988242
24825     1074912  1742948993256

[24826 rows x 2 columns]

       run_number
0           15107
1           15107
2           15107
3           15107
4           15107
...           ...
24821       15107
24822       15107
24823       15107
24824       15107
24825       15107

[24826 rows x 1 columns]

Simplest way to do this seems to be:
- take the event numbers from `Run_events`
- split the event numbers into equally sized groups
- Collect the DSTs and RECO for each of those groups
- Make sure the runInfo has the right number of rows (equal to number of events)

In [ ]:
# Collect and group events from DST into dataframes into groups of N
def collect_events(df, N):
    '''
    Collect events from a dataframe and group them into N groups.
    Parameters
    ----------
    df : pandas.DataFrame
        The dataframe containing the events from DST/Events
    N : int
        The number of groups to split the events into.
    Returns
    -------
    list
        A list of list of events
    '''
    events = df.event.unique()
    num_events = len(events)
    num_groups = num_events // N
    
    return event_groups

In [ ]:
def split_events(df, N):
    '''
    Splits dataframe by number of events into chunks each containing
    approximately N events per grouping.
    Parameters
    ----------
    df : pandas.DataFrame
        The dataframe containing the events from DST/Events
    N : int 
        The number of events per group.
    Returns
    -------
    list
        A list of lists, each containing ~N events.
    '''

    events = df.event.unique()
    num_events = len(events)
    num_groups = num_events // N
    print(f'{num_events} events split into {num_groups} groups')
    return np.array_split(events, num_groups)

In [ ]:
split_arr = split_events(dst_Events, 150)
print(split_arr[0])
print('==========')
print(len(split_arr[0]))

NameError: name 'split_events' is not defined

In [ ]:
# select these events from DST/Events, RECO/Events and Run/events
# also make sure Run/runInfo is the same length of DST/Events
split_dir = 'files/15107_split/'
compression = 'ZLIB4'
for i, events in tqdm(enumerate(split_arr)):
    # select DF from dst with matching 'event' category
    chunked_DST  = dst_Events[dst_Events['event'].isin(events)]
    chunked_RECO    = RECO_Events[RECO_Events['event'].isin(events)]
    chunked_Runevts = Run_events[Run_events['evt_number'].isin(events)]
    chunked_RunInfo = Run_runInfo.head(len(events))
    

    with tb.open_file(split_dir + str('beer_') + str(i) + str('.h5'), 'w', filters = tbl.filters(compression)) as h5out:
        df_writer(h5out,   chunked_DST, "DST", "Events" , compression="ZLIB4")
        df_writer(h5out,   chunked_RECO, "RECO", "Events" , compression="ZLIB4")
        df_writer(h5out,   chunked_RunInfo, "Run" , "runInfo" , compression="ZLIB4")
        df_writer(h5out,   chunked_Runevts, "Run" , "events", compression="ZLIB4")
    #break

In [49]:
display(pd.read_hdf(split_dir + 'beer_0.h5', 'RECO/Events'))

,event,time,npeak,Xpeak,Ypeak,nsipm,X,Y,Xrms,Yrms,Z,Q,E,Qc,Ec,track_id,Ep
0,275,1.742935e+09,3,15.761644,-65.178616,1,474.475,-32.475,0.0,0.0,159.434125,5.256973,-2.562765,-1.0,-0.000016,-1,-1.0
1,275,1.742935e+09,3,15.761644,-65.178616,1,-265.925,399.925,0.0,0.0,161.691000,7.539444,-3.154945,-1.0,NaN,-1,-1.0
2,275,1.742935e+09,3,15.761644,-65.178616,1,181.025,414.975,0.0,0.0,161.691000,6.790727,-2.841638,-1.0,-0.000018,-1,-1.0
3,275,1.742935e+09,3,15.761644,-65.178616,1,-281.475,-279.275,0.0,0.0,165.937000,5.034613,17.929243,-1.0,0.000097,-1,-1.0
4,275,1.742935e+09,3,15.761644,-65.178616,1,212.125,-325.425,0.0,0.0,167.834250,5.043945,159.742005,-1.0,0.000833,-1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199189,1314945,1.742952e+09,22,110.509635,82.895742,1,-281.475,14.175,0.0,0.0,765.869500,6.411191,3.902259,-1.0,0.000019,-1,-1.0
199190,1314945,1.742952e+09,22,110.509635,82.895742,1,88.725,-16.425,0.0,0.0,765.869500,5.267778,3.206306,-1.0,0.000015,-1,-1.0
199191,1314945,1.742952e+09,22,110.509635,82.895742,1,-451.525,-263.725,0.0,0.0,770.140625,10.537049,6.921390,-1.0,NaN,-1,-1.0
199192,1314945,1.742952e+09,22,110.509635,82.895742,1,257.775,184.225,0.0,0.0,776.062500,6.367399,-2.976775,-1.0,-0.000015,-1,-1.0
199193,1314945,1.742952e+09,22,110.509635,82.895742,1,257.775,384.375,0.0,0.0,776.062500,6.001733,-2.805825,-1.0,NaN,-1,-1.0